//REQUIRED FOR FORMS TO WORK CORRECTLY
//DO NOT DELETE THIS FILE

.corporation,
.llc,
.np {
  display: none;
}

.text-center {
  text-align: center;
}

.tax-id-group {
  margin-left: 5px;
  padding-left: 5px;
}

.help-trigger {
  margin-left: 5px;
  color: $primary-color;
  font-size: 20px;
  transition: all .25s;
  position: relative;
  top: -2px;

  &:hover {
    color: darken($primary-color, 10%);
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, .7);
    position: absolute;
    left: -1px;
    top: -10px;
    display: none;
  }

  i {
    font-size: 18px;
    cursor: pointer;
  }

  .help-container {
    display: inline-block;
    position: absolute;
    width: 250px;
    right: auto;
    bottom: 34px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    padding: 20px;
    border-radius: 4px;
    display: none;

    @include breakpoint (medium) {
      right: -150px;
      width: 300px;
    }
  }

  .exit-help-container {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
  }
}

.help-trigger.show-after {
  &:after {
    display: block;
  }
}

.form-error {
  margin-top: 0px;
  font-weight: 400;
}

.processing {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, .7);

  .processing-content {
    position: relative;
    top: 15%;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 22px;
  }

  i {
    margin: 0 auto 20px;
    display: block;
    color: $primary-color;
  }
}

.remove-person {
  position: absolute;
  top: 0px;
  right: 0px;
  color: $alert-color;
  cursor: pointer;
  transition: all .25s;

  &:hover {
    color: darken($alert-color, 15%);
  }
}

.np .remove-person {
  display: block;
}

.np .directors-np .person:nth-of-type(1) .remove-person,
.np .directors-np .person:nth-of-type(2) .remove-person,
.np .directors-np .person:nth-of-type(3) .remove-person {
  display: none;
}


.errors {
  list-style: none;
  text-align: center;

  ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background: $alert-color;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    border: 1px solid $alert-color;
    padding: .5em;
    margin-bottom: 1em;
    display: inline-block;
    text-align: center;
    border-radius: 3px;

    li {
      color: #fff;
      margin: 0px;
      font-size: 21px;
      font-weight: 700;
    }
  }
}

.errors.success {
  ul {
    background: #02c28c;
    border-color: #02c28c;
  }
}

.password-strength {
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2em;

    li {
      margin: 0px;
      font-size: 15px;
      line-height: 20px;
      float: left;
      margin-right: 20px;
      margin-bottom: .5em;
    }

    li.success {
      display: none;
    }

    li.failure {
      color: $alert-color;
    }
  }
}

.processing-opts {
  label {
    margin-right: 30px;

    input {
      width: auto;
      margin-right: 8px;
    }

    strong {
      font-size: 19px;
    }
  }
}

small.form-error {
  display: none;
}

.ar-container,
.hire-us-to-change-container,
.password-strength,
.billing,
.attorney-email,
.non-us-mailing,
.processing-opts,
.hide {
  display: none;
}

//END REQUIRED FORMS CSS