//OPTIONAL STYLING FOR FORMS
//DELETE THIS FILE IF YOU'D LIKE TO START FRESH

//custom checkboxes OPTIONAL
label.checkbox {
  line-height: 0;
  position: relative;

  input {
    margin-right: 20px !important;
    height: 1px;
    width: 1px;
    position: absolute;
    top: -11px !important;
    left: 10px;

    &:before {
      background: #fff;
      border: 1px solid #ccc;
      color: #fff;
      border-radius: 100px;
      width: 22px;
      height: 22px;
      content: '';
      display: inline-block;
      position: absolute;
      top: -7px;
      left: -7px;
      transition: color .5s ease;
    }
  }

  input:checked {
    &:before {
      color: $primary-color;
      content: "\f058";
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      font-size: 21px;
      border: none;
    }
  }
}

//END custom checkboxes OPTIONAL

//input, textarea, select styling
input,
textarea {
  background: none;
  border: none;
  border: 1px solid #ccc;
  color: #555;
  padding: 8px 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 20px;
  transition: all .25s;
  background: #fff;

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0 2px $primary-color, 0 0 4px $primary-color, 0 0 5px $primary-color;
  }
}

select {
  border: 1px solid #ccc;
  background: #fff;
  font-size: 20px;
  padding: .5em;
  height: 46px;
  background: none;
}

textarea {
  resize: vertical;
  min-height: 150px
}

.input-group {
  margin-bottom: 20px;

  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  textarea {
    padding: .5em;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 20px;

    &:focus {
      appearance: none;
      outline: none;
    }
  }

  input[type="checkbox"] {
    width: initial;
    margin-right: 10px;
    position: relative;
    top: -1px;
  }
}

//END input, textarea, select styling

//parsley errors
.parsley-errors-list {
  list-style: none;
  padding: 0px;
  margin: 0px;

  li {
    color: #ff0000;
    font-size: 15px;
  }
}

//END parsley errors


// form layout styling
.label-container {
  float: left;
  width: 100%;
  display: block;
}

form button {
  padding: 1em 1.5em;
  font-size: 24px;
  margin-bottom: 1em;
}

.form-topper {
  margin-bottom: 1em;

  span {
    display: block;
  }
}

label {
  font-size: 16px;
  line-height: 20px;
  color: #696969;

  span {
    font-size: 16px;
    line-height: 20px;
    color: #696969;
  }

  a {
    font-size: 16px;
    line-height: 20px;
  }
}

#signin-form,
#forgot-form {
  background: #fff;

  h3 {
    text-align: center;
  }

  button {
    display: block;
    margin: 10px auto 1em;
    box-shadow: none;
    width: 100%;
    padding: .75em 1.5em;
  }

  a {
    display: block;
    text-align: center;
  }
}

form .terms {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  input {
    margin-right: 10px;
    display: inline-block;
    width: auto;
  }
}

#signup {

  button {
    display: block;
    width: 100%;
    margin-top: .5em;
    margin-bottom: 0px;
  }
}

span.addName {
  margin-bottom: 3em;
}

.label-group {
  text-align: left;
  position: relative;
  clear: both;
}


.form-header,
.form-header span {
  margin: 0em 0 .25em;
  color: #363636;
  display: block;
  padding: .25em;
  font-size: 22px;
  text-align: center;
  font-weight: 700;

  span {
    display: inline-block;
  }
}

.step:first-of-type {
  margin-top: 1em;
}

.step:last-of-type {
  margin-bottom: 1em;
}

.step {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 2em;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.half-group {
  display: block;
  float: left;
  width: 100%;

  @include breakpoint (medium) {
    width: 50%;
    padding: 0 1em;
  }
}

.half-group.first {
  padding-left: 0px;
}

.half-group.last {
  padding-right: 0px;
}

.footer-funnel {
  width: 100%;
  float: left;
}

.price-footer {
  width: 100%;
  display: block;

  .input-container {
    p {
      margin: 0px;
      padding: .125em;
      display: block;
      border-top: 1px solid #dedede;
      display: block;
      background: #fff;

      &:before {
        float: left;
        width: 0;
        white-space: nowrap;
      }

      span.right {
        display: inline-block;
        float: right;
        width: 25%;
        text-align: right;
      }

      span {
        width: 75%;
      }
    }

    p:first-of-type {
      border-top: none;
    }
  }

  .total {
    margin: 0px;
    padding: .125em;
    font-weight: 700;
    padding-top: .5em;
    border-top: 1px solid #dedede;

    span {
      font-weight: 700;
      font-size: 23px;
    }

    .right {
      float: right;
    }
  }
}

.addName {
  background-color: #2185d0;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 0 10px;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: darken(#2185d0, 10%);
  }
}

form#signup,
form#signin-form,
form#contact-form {
  // max-width: 660px;
  width: 100%;
  margin: 0 auto;
  float: none;
}

.input-group select,
.input-group input {
  width: 100%;
}

.attorney-email {
  float: left;
  width: 100%;
}

.checkbox-wrap {
  margin-bottom: 20px;
}
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin-bottom: 20px;
    
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: $white;
    border: 3px solid $primary-color;
  }

  // Box hover
  &:hover + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  
  // Box focus
  // &:focus + label:before {
  //   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  // }

  // Box checked
  // &:checked + label:before {
  //   background: #f35429;
  // }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 11px;
    background: $black;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 $black,
      4px 0 0 $black,
      4px -2px 0 $black,
      4px -4px 0 $black,
      4px -6px 0 $black,
      4px -8px 0 $black;
    @include transform(rotate(45deg));
    
  }
}

.styled-radio {
  position: relative; // take it out of document flow
  margin-right: 15px;
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin-bottom: 20px;
    
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $white;
    border: 3px solid $primary-color;
  }

  // Box hover
  &:hover + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  
  // Box focus
  // &:focus + label:before {
  //   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  // }

  // Box checked
  // &:checked + label:before {
  //   background: #f35429;
  // }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 8px;
    background: $black;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
.sub-checkbox-wrap {
  margin-left: 15px;
}

// END form layout styling