.nav {
  position: relative;

  .menu {
    ul {
      list-style: none;
      padding: 0px;
      margin: 40px 0;
      text-align: center;
    }

    li {
      margin: 0px;
      padding: 0px;
      display: inline-block;
    }

    a {
      display: block;
      margin: 0px;
      padding: 10px 30px;
      text-decoration: none;
      color: $primary-color;
      text-transform: uppercase;
      border-radius: 4px;

      &:hover {
        background: $primary-color;
        color: #fff;
      }

      &:active {
        box-shadow: inset 0 2px 2px #003caa;
      }
    }
  }
}

.header {
  position: relative;

  .nav-icon {
    display: block;
    height: 4px;
    width: 40px;
    background-color: $primary-color;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    @include transition(background 0.2s);

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: $primary-color;
      @include transition(0.2s transform);
    }

    &:before {
      top: -14px;
      transform-origin: right center;
    }

    &:after {
      bottom: -14px;
      transform-origin: right center;
      //@include transform(rotate(45deg));
    }

  }

  .mobile-nav-toggle {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    right: 20px;
    height: 30px;
    width: 40px;
    display: none;
    text-transform: uppercase;
    z-index: 201;

    p {
      color: $white;
    }

    &:hover {
      cursor: pointer;
    }

    &.active .nav-icon {
      background-color: rgba($primary-color, 0);

      &:before {
        @include transform(rotate(-45deg));
      }

      &:after {
        @include transform(rotate(45deg));
      }
    }
  }

  @media screen and (max-width: 991px) {
    height: 100px;

    .mobile-nav-toggle {
      display: block;
    }

    .nav ul {
      position: fixed;
      text-align: center;
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: rgba($white, 0.9);
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      @include transform(translateX(100%));

    }

    .nav li {
      display: block;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;

      &:first-child {
        margin-top: 100px;
      }

    }

    .nav a {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      color: $primary-color;

      i {
        display: none;
      }
    }

    .nav.mobile-active {
      ul {
        opacity: 1;
        overflow: scroll;
        @include transform(translateX(0));
      }
    }
  }
}

.logo {
  //display: none;
  text-align: center;
  position: relative;
  z-index: 100;

  //margin-bottom: 50px;
  a {
    //background: rgba(0, 0, 0, 0.5);
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;

    img {
      width: 180px;
    }
  }

  @media screen and (max-width: 991px) {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100px;
    width: 100px;

    a,
    a img {
      width: 100%;
    }
  }
}




.cat-gif {
  margin: 0 auto;
  display: block;
}