{"version":3,"sources":["forms_required.scss","forms_required.css","../core/_variables.scss","../core/_mixins.scss"],"names":[],"mappings":"AAMA;EACE,cAAa;CCLd;;ADQD;EACE,mBAAkB;CCLnB;;ADQD;EACE,iBAAgB;EAChB,kBAAiB;CCLlB;;ADQD;EACE,iBAAgB;EAChB,eErBqB;EFsBrB,gBAAe;EACf,qBAAoB;EACpB,mBAAkB;EAClB,UAAS;CCLV;ADOC;EACE,eAAkC;CCLrC;ADQC;EACE,YAAW;EACX,SAAQ;EACR,UAAS;EACT,oCAAmC;EACnC,qCAAoC;EACpC,0CAAwC;EACxC,mBAAkB;EAClB,WAAU;EACV,WAAU;EACV,cAAa;CCNhB;ADSC;EACE,gBAAe;EACf,gBAAe;CCPlB;ADUC;EACE,sBAAqB;EACrB,mBAAkB;EAClB,aAAY;EACZ,YAAW;EACX,aAAY;EACZ,eAAc;EACd,+BAA8B;EAC9B,YAAW;EACX,gBAAe;EACf,cAAa;EACb,mBAAkB;EAClB,cAAa;CCRhB;AEzBK;EHqBJ;IAeI,cAAa;IACb,aAAY;GCPf;CACF;ADUC;EACE,mBAAkB;EAClB,SAAQ;EACR,YAAW;EACX,WAAU;EACV,gBAAe;CCRlB;;ADaC;EACE,eAAc;CCVjB;;ADcD;EACE,gBAAe;EACf,iBAAgB;CCXjB;;ADcD;EACE,eAAc;EACd,gBAAe;EACf,SAAQ;EACR,UAAS;EACT,YAAW;EACX,aAAY;EACZ,cAAa;EACb,+BAA6B;CCX9B;ADaC;EACE,mBAAkB;EAClB,SAAQ;EACR,iBAAgB;EAChB,YAAW;EACX,eAAc;EACd,YAAW;EACX,mBAAkB;EAClB,gBAAe;CCXlB;ADcC;EACE,oBAAmB;EACnB,eAAc;EACd,eEjHmB;CDqGtB;;ADgBD;EACE,mBAAkB;EAClB,SAAQ;EACR,WAAU;EACV,eElGmB;EFmGnB,gBAAe;EACf,qBAAoB;CCbrB;ADeC;EACE,eAAgC;CCbnC;;ADiBD;EACE,eAAc;CCdf;;ADiBD;EACE,cAAa;CCdd;;ADkBD;EACE,iBAAgB;EAChB,mBAAkB;CCfnB;ADiBC;EACE,iBAAgB;EAChB,mBAAkB;EAClB,aAAY;EACZ,YAAW;EACX,oBE7HiB;EF8HjB,0CAAwC;EACxC,0BAA8B;EAC9B,cAAa;EACb,mBAAkB;EAClB,sBAAqB;EACrB,mBAAkB;EAClB,mBAAkB;CCfrB;ADiBG;EACE,YAAW;EACX,YAAW;EACX,gBAAe;EACf,iBAAgB;CCfrB;;ADqBC;EACE,oBAAmB;EACnB,sBAAqB;CClBxB;;ADuBC;EACE,iBAAgB;EAChB,aAAY;EACZ,YAAW;EACX,mBAAkB;CCpBrB;ADsBG;EACE,YAAW;EACX,gBAAe;EACf,kBAAiB;EACjB,YAAW;EACX,mBAAkB;EAClB,oBAAmB;CCpBxB;ADuBG;EACE,cAAa;CCrBlB;ADwBG;EACE,eE3Ke;CDqJpB;;AD4BC;EACE,mBAAkB;CCzBrB;AD2BG;EACE,YAAW;EACX,kBAAiB;CCzBtB;AD4BG;EACE,gBAAe;CC1BpB;;AD+BD;EACE,cAAa;CC5Bd;;AD+BD;;;;;;;;EAQE,cAAa;CC5Bd","file":"../forms_required.css","sourceRoot":"source"}
.corporation, .llc, .np {
  display: none;
}

.text-center {
  text-align: center;
}

.tax-id-group {
  margin-left: 5px;
  padding-left: 5px;
}

.help-trigger {
  margin-left: 5px;
  color: #4F80E1;
  font-size: 20px;
  transition: all .25s;
  position: relative;
  top: -2px;
}
.help-trigger:hover {
  color: #2561d8;
}
.help-trigger:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.7);
  position: absolute;
  left: -1px;
  top: -10px;
  display: none;
}
.help-trigger i {
  font-size: 18px;
  cursor: pointer;
}
.help-trigger .help-container {
  display: inline-block;
  position: absolute;
  width: 250px;
  right: auto;
  bottom: 34px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  padding: 20px;
  border-radius: 4px;
  display: none;
}
@media (min-width: 768px) {
  .help-trigger .help-container {
    right: -150px;
    width: 300px;
  }
}
.help-trigger .exit-help-container {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.help-trigger.show-after:after {
  display: block;
}

.form-error {
  margin-top: 0px;
  font-weight: 400;
}

.processing {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}
.processing .processing-content {
  position: relative;
  top: 15%;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.processing i {
  margin: 0 auto 20px;
  display: block;
  color: #4F80E1;
}

.remove-person {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ff0000;
  cursor: pointer;
  transition: all .25s;
}
.remove-person:hover {
  color: #b30000;
}

.np .remove-person {
  display: block;
}

.np .directors-np .person:nth-of-type(1) .remove-person, .np .directors-np .person:nth-of-type(2) .remove-person, .np .directors-np .person:nth-of-type(3) .remove-person {
  display: none;
}

.errors {
  list-style: none;
  text-align: center;
}
.errors ul {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background: #ff0000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ff0000;
  padding: .5em;
  margin-bottom: 1em;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
}
.errors ul li {
  color: #fff;
  margin: 0px;
  font-size: 21px;
  font-weight: 700;
}

.errors.success ul {
  background: #02c28c;
  border-color: #02c28c;
}

.password-strength ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 2em;
}
.password-strength ul li {
  margin: 0px;
  font-size: 15px;
  line-height: 20px;
  float: left;
  margin-right: 20px;
  margin-bottom: .5em;
}
.password-strength ul li.success {
  display: none;
}
.password-strength ul li.failure {
  color: #ff0000;
}

.processing-opts label {
  margin-right: 30px;
}
.processing-opts label input {
  width: auto;
  margin-right: 8px;
}
.processing-opts label strong {
  font-size: 19px;
}

small.form-error {
  display: none;
}

.ar-container,
.hire-us-to-change-container,
.password-strength,
.billing,
.attorney-email,
.non-us-mailing,
.processing-opts,
.hide {
  display: none;
}



/*# sourceMappingURL=maps/forms_required.css.map */

{"version":3,"sources":["footer.scss","footer.css"],"names":[],"mappings":"AAGA;EACE,cAAa;CCFd","file":"../footer.css","sourceRoot":"source"}
footer {
  display: none;
}



/*# sourceMappingURL=maps/footer.css.map */

{"version":3,"sources":["forms_styles.scss","forms_styles.css","../core/_variables.scss","../core/_mixins.scss"],"names":[],"mappings":"AAOA;EACE,eAAc;EACd,mBAAkB;CCNnB;ADQC;EACE,8BAA6B;EAC7B,YAAW;EACX,WAAU;EACV,mBAAkB;EAClB,sBAAqB;EACrB,WAAU;CCNb;ADQG;EACE,iBAAgB;EAChB,uBAAsB;EACtB,YAAW;EACX,qBAAoB;EACpB,YAAW;EACX,aAAY;EACZ,YAAW;EACX,sBAAqB;EACrB,mBAAkB;EAClB,UAAS;EACT,WAAU;EACV,2BAA0B;CCN/B;ADWG;EACE,eErCiB;EFsCjB,iBAAgB;EAChB,kCAAiC;EACjC,iBAAgB;EAChB,gBAAe;EACf,aAAY;CCTjB;;ADgBD;;EAEE,iBAAgB;EAChB,aAAY;EACZ,uBAAsB;EACtB,YAAW;EACX,kBAAiB;EACjB,YAAW;EACX,mBAAkB;EAClB,gBAAe;EACf,qBAAoB;EACpB,iBAAgB;CCbjB;ADeC;;;EAEE,cAAa;EACb,8DAAkF;CCZrF;;ADgBD;EACE,uBAAsB;EACtB,iBAAgB;EAChB,gBAAe;EACf,cAAa;EACb,aAAY;EACZ,iBAAgB;CCbjB;;ADgBD;EACE,iBAAgB;EAChB,kBAAiB;CCblB;;ADgBD;EACE,oBAAmB;CCbpB;ADeC;;;;;;EAME,cAAa;EACb,YAAW;EACX,uBAAsB;EACtB,gBAAe;CCblB;ADeG;;;;;;EACE,yBAAgB;KAAhB,sBAAgB;UAAhB,iBAAgB;EAChB,cAAa;CCRlB;ADYC;EACE,eAAc;EACd,mBAAkB;EAClB,mBAAkB;EAClB,UAAS;CCVZ;;ADgBD;EACE,iBAAgB;EAChB,aAAY;EACZ,YAAW;CCbZ;ADeC;EACE,eAAc;EACd,gBAAe;CCblB;;ADoBD;EACE,YAAW;EACX,YAAW;EACX,eAAc;CCjBf;;ADoBD;EACE,mBAAkB;EAClB,gBAAe;EACf,mBAAkB;CCjBnB;;ADoBD;EACE,mBAAkB;CCjBnB;ADmBC;EACE,eAAc;CCjBjB;;ADqBD;EACE,gBAAe;EACf,kBAAiB;EACjB,eAAc;CClBf;ADoBC;EACE,gBAAe;EACf,kBAAiB;EACjB,eAAc;CClBjB;ADqBC;EACE,gBAAe;EACf,kBAAiB;CCnBpB;;ADuBD;;EAEE,iBAAgB;CCpBjB;ADsBC;;EACE,mBAAkB;CCnBrB;ADsBC;;EACE,eAAc;EACd,sBAAqB;EACrB,iBAAgB;EAChB,YAAW;EACX,qBAAoB;CCnBvB;ADsBC;;EACE,eAAc;EACd,mBAAkB;CCnBrB;;ADuBD;EACE,kBAAiB;EACjB,qBAAoB;CCpBrB;ADsBC;EACE,mBAAkB;EAClB,sBAAqB;EACrB,YAAW;CCpBd;;AD0BC;EACE,eAAc;EACd,YAAW;EACX,iBAAgB;EAChB,mBAAkB;CCvBrB;;AD2BD;EACE,mBAAkB;CCxBnB;;AD2BD;EACE,iBAAgB;EAChB,mBAAkB;EAClB,YAAW;CCxBZ;;AD4BD;;EAEE,oBAAmB;EACnB,eAAc;EACd,eAAc;EACd,eAAc;EACd,gBAAe;EACf,mBAAkB;EAClB,iBAAgB;CCzBjB;AD2BC;;EACE,sBAAqB;CCxBxB;;AD4BD;EACE,gBAAe;CCzBhB;;AD4BD;EACE,mBAAkB;CCzBnB;;AD4BD;EACE,eAAc;EACd,mBAAkB;EAClB,YAAW;EACX,YAAW;EACX,mBAAkB;EAClB,iBAAgB;EAChB,uBAAsB;EACtB,cAAa;CCzBd;;AD4BD;EACE,eAAc;EACd,YAAW;EACX,YAAW;CCzBZ;AE1MK;EHgON;IAMI,WAAU;IACV,eAAc;GCxBf;CACF;;AD2BD;EACE,kBAAiB;CCxBlB;;AD2BD;EACE,mBAAkB;CCxBnB;;AD2BD;EACE,YAAW;EACX,YAAW;CCxBZ;;AD2BD;EACE,YAAW;EACX,eAAc;CCxBf;AD2BG;EACE,YAAW;EACX,gBAAe;EACf,eAAc;EACd,8BAA6B;EAC7B,eAAc;EACd,iBAAgB;CCzBrB;AD2BK;EACE,YAAW;EACX,SAAQ;EACR,oBAAmB;CCzB1B;AD4BK;EACE,sBAAqB;EACrB,aAAY;EACZ,WAAU;EACV,kBAAiB;CC1BxB;AD6BK;EACE,WAAU;CC3BjB;AD+BG;EACE,iBAAgB;CC7BrB;ADiCC;EACE,YAAW;EACX,gBAAe;EACf,iBAAgB;EAChB,kBAAiB;EACjB,8BAA6B;CC/BhC;ADiCG;EACE,iBAAgB;EAChB,gBAAe;CC/BpB;ADkCG;EACE,aAAY;CChCjB;;ADqCD;EACE,0BAAyB;EACzB,YAAW;EACX,mBAAkB;EAClB,mBAAkB;EAClB,iBAAgB;EAChB,sBAAqB;EACrB,iBAAgB;EAChB,gBAAe;CClChB;ADoCC;EACE,0BAAsC;CClCzC;;ADsCD;EAEE,YAAW;EACX,eAAc;EACd,YAAW;CCpCZ;;ADuCD;;EAEE,YAAW;CCpCZ;;ADuCD;EACE,YAAW;EACX,YAAW;CCpCZ","file":"../forms_styles.css","sourceRoot":"source"}
label.checkbox {
  line-height: 0;
  position: relative;
}
label.checkbox input {
  margin-right: 20px !important;
  height: 1px;
  width: 1px;
  position: absolute;
  top: -11px !important;
  left: 10px;
}
label.checkbox input:before {
  background: #fff;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 100px;
  width: 22px;
  height: 22px;
  content: '';
  display: inline-block;
  position: absolute;
  top: -7px;
  left: -7px;
  transition: color .5s ease;
}
label.checkbox input:checked:before {
  color: #4F80E1;
  content: "\f058";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 21px;
  border: none;
}

input,
textarea {
  background: none;
  border: none;
  border: 1px solid #ccc;
  color: #555;
  padding: 8px 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 20px;
  transition: all .25s;
  background: #fff;
}
input:active, input:focus,
textarea:active,
textarea:focus {
  outline: none;
  box-shadow: 0 0 2px #4F80E1, 0 0 4px #4F80E1, 0 0 5px #4F80E1;
}

select {
  border: 1px solid #ccc;
  background: #fff;
  font-size: 20px;
  padding: .5em;
  height: 46px;
  background: none;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

.input-group {
  margin-bottom: 20px;
}
.input-group input[type="text"],
.input-group input[type="tel"],
.input-group input[type="password"],
.input-group input[type="email"],
.input-group input[type="number"],
.input-group textarea {
  padding: .5em;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 20px;
}
.input-group input[type="text"]:focus,
.input-group input[type="tel"]:focus,
.input-group input[type="password"]:focus,
.input-group input[type="email"]:focus,
.input-group input[type="number"]:focus,
.input-group textarea:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.input-group input[type="checkbox"] {
  width: initial;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.parsley-errors-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.parsley-errors-list li {
  color: #ff0000;
  font-size: 15px;
}

.label-container {
  float: left;
  width: 100%;
  display: block;
}

form button {
  padding: 1em 1.5em;
  font-size: 24px;
  margin-bottom: 1em;
}

.form-topper {
  margin-bottom: 1em;
}
.form-topper span {
  display: block;
}

label {
  font-size: 16px;
  line-height: 20px;
  color: #696969;
}
label span {
  font-size: 16px;
  line-height: 20px;
  color: #696969;
}
label a {
  font-size: 16px;
  line-height: 20px;
}

#signin-form,
#forgot-form {
  background: #fff;
}
#signin-form h3,
#forgot-form h3 {
  text-align: center;
}
#signin-form button,
#forgot-form button {
  display: block;
  margin: 10px auto 1em;
  box-shadow: none;
  width: 100%;
  padding: .75em 1.5em;
}
#signin-form a,
#forgot-form a {
  display: block;
  text-align: center;
}

form .terms {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
form .terms input {
  margin-right: 10px;
  display: inline-block;
  width: auto;
}

#signup button {
  display: block;
  width: 100%;
  margin-top: .5em;
  margin-bottom: 0px;
}

span.addName {
  margin-bottom: 3em;
}

.label-group {
  text-align: left;
  position: relative;
  clear: both;
}

.form-header,
.form-header span {
  margin: 0em 0 .25em;
  color: #363636;
  display: block;
  padding: .25em;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
}
.form-header span,
.form-header span span {
  display: inline-block;
}

.step:first-of-type {
  margin-top: 1em;
}

.step:last-of-type {
  margin-bottom: 1em;
}

.step {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 2em;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.half-group {
  display: block;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .half-group {
    width: 50%;
    padding: 0 1em;
  }
}

.half-group.first {
  padding-left: 0px;
}

.half-group.last {
  padding-right: 0px;
}

.footer-funnel {
  width: 100%;
  float: left;
}

.price-footer {
  width: 100%;
  display: block;
}
.price-footer .input-container p {
  margin: 0px;
  padding: .125em;
  display: block;
  border-top: 1px solid #dedede;
  display: block;
  background: #fff;
}
.price-footer .input-container p:before {
  float: left;
  width: 0;
  white-space: nowrap;
}
.price-footer .input-container p span.right {
  display: inline-block;
  float: right;
  width: 25%;
  text-align: right;
}
.price-footer .input-container p span {
  width: 75%;
}
.price-footer .input-container p:first-of-type {
  border-top: none;
}
.price-footer .total {
  margin: 0px;
  padding: .125em;
  font-weight: 700;
  padding-top: .5em;
  border-top: 1px solid #dedede;
}
.price-footer .total span {
  font-weight: 700;
  font-size: 23px;
}
.price-footer .total .right {
  float: right;
}

.addName {
  background-color: #2185d0;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 0 10px;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
}
.addName:hover {
  background-color: #1a69a4;
}

form#signup, form#signin-form, form#contact-form {
  width: 100%;
  margin: 0 auto;
  float: none;
}

.input-group select,
.input-group input {
  width: 100%;
}

.attorney-email {
  float: left;
  width: 100%;
}



/*# sourceMappingURL=maps/forms_styles.css.map */

{"version":3,"sources":[],"names":[],"mappings":"","file":"../header.css","sourceRoot":"source"}




/*# sourceMappingURL=maps/header.css.map */

{"version":3,"sources":["navigation.scss","navigation.css","../core/_variables.scss","../core/_mixins.scss"],"names":[],"mappings":"AAIA;EACE,mBAAkB;CCHnB;ADKG;EACE,iBAAgB;EAChB,aAAY;EACZ,eAAc;EACd,mBAAkB;CCHvB;ADMG;EACE,YAAW;EACX,aAAY;EACZ,sBAAqB;CCJ1B;ADOG;EACE,eAAc;EACd,YAAW;EACX,mBAAkB;EAClB,sBAAqB;EACrB,eEzBiB;EF0BjB,0BAAyB;EACzB,mBAAkB;CCLvB;ADMK;EACE,oBE7Be;EF8Bf,YAAW;CCJlB;ADOK;EACE,oCAAmC;CCL1C;;ADWD;EACE,mBAAkB;CCRnB;ADSC;EACE,eAAc;EACd,YAAW;EACX,YAAW;EACX,0BE9CmB;EF+CnB,mBAAkB;EAClB,SAAQ;EGpCR,4BAAuB;EAOvB,4BH+BmC;CCDtC;ADEG;EAEE,YAAW;EACX,mBAAkB;EAClB,YAAW;EACX,YAAW;EACX,0BEzDiB;ECmBnB,2BHuCoC;CCEvC;ADAG;EACE,WAAU;EACV,+BAA8B;CCEnC;ADAG;EACE,cAAa;EACb,+BAA8B;CCEnC;ADGC;EACE,mBAAkB;EAClB,SAAQ;EG7DR,4BAAuB;EH+DvB,YAAW;EACX,aAAY;EACZ,YAAW;EACX,cAAa;EACb,0BAAyB;EACzB,aAAY;CCEf;ADDG;EACE,aE9DkB;CDiEvB;ADDG;EACE,gBAAe;CCGpB;ADDG;EACE,wCAAyC;CCG9C;ADFK;EG7EF,0BAAuB;CFqF1B;ADLK;EGhFF,yBAAuB;CF2F1B;ADNC;EAzDF;IA0DI,cAAa;GCSd;EDRC;IACE,eAAc;GCUjB;EDRC;IACE,gBAAe;IACf,mBAAkB;IAClB,WAAU;IACV,aAAY;IACZ,YAAW;IACX,2CAAmC;IACnC,OAAM;IACN,QAAO;IACP,UAAS;IACT,WAAU;IACV,WAAU;IGrGZ,4BAAuB;GFmHxB;EDVC;IACE,eAAc;IACd,UAAS;IACT,WAAU;IACV,oBAAmB;GCYtB;EDVG;IACE,kBAAiB;GCYtB;EDRC;IACE,kBAAiB;IACjB,sBAAqB;IACrB,eEnIiB;GD6IpB;EDTG;IACE,cAAa;GCWlB;EDPG;IACE,WAAU;IACV,iBAAgB;IG/HpB,yBAAuB;GF4IxB;CACF;;ADPD;EAEI,mBAAkB;EAClB,mBAAkB;EAClB,aAAY;CCSf;ADPG;EAEE,mBAAkB;EAClB,UAAS;EACT,WAAU;EACV,SAAQ;CCQb;ADNK;EACE,aAAY;CCQnB;ADLG;EAjBJ;IAkBM,mBAAkB;IAClB,UAAS;IACT,WAAU;IACV,cAAa;IACb,aAAY;GCQf;EDPG;IACE,YAAW;GCShB;CACF;;ADFD;EACE,eAAc;EACd,eAAc;CCKf","file":"../navigation.css","sourceRoot":"source"}
.nav {
  position: relative;
}
.nav .menu ul {
  list-style: none;
  padding: 0px;
  margin: 40px 0;
  text-align: center;
}
.nav .menu li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.nav .menu a {
  display: block;
  margin: 0px;
  padding: 10px 30px;
  text-decoration: none;
  color: #4F80E1;
  text-transform: uppercase;
  border-radius: 4px;
}
.nav .menu a:hover {
  background: #4F80E1;
  color: #fff;
}
.nav .menu a:active {
  box-shadow: inset 0 2px 2px #003caa;
}

.header {
  position: relative;
}
.header .nav-icon {
  display: block;
  height: 4px;
  width: 40px;
  background-color: #4F80E1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.2s;
}
.header .nav-icon:before, .header .nav-icon:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #4F80E1;
  transition: 0.2s transform;
}
.header .nav-icon:before {
  top: -14px;
  transform-origin: right center;
}
.header .nav-icon:after {
  bottom: -14px;
  transform-origin: right center;
}
.header .mobile-nav-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  height: 30px;
  width: 40px;
  display: none;
  text-transform: uppercase;
  z-index: 201;
}
.header .mobile-nav-toggle p {
  color: white;
}
.header .mobile-nav-toggle:hover {
  cursor: pointer;
}
.header .mobile-nav-toggle.active .nav-icon {
  background-color: rgba(79, 128, 225, 0);
}
.header .mobile-nav-toggle.active .nav-icon:before {
  transform: rotate(-45deg);
}
.header .mobile-nav-toggle.active .nav-icon:after {
  transform: rotate(45deg);
}
@media screen and (max-width: 991px) {
  .header {
    height: 100px;
  }
  .header .mobile-nav-toggle {
    display: block;
  }
  .header .nav ul {
    position: fixed;
    text-align: center;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateX(100%);
  }
  .header .nav li {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  .header .nav li:first-child {
    margin-top: 100px;
  }
  .header .nav a {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #4F80E1;
  }
  .header .nav a i {
    display: none;
  }
  .header .nav.mobile-active ul {
    opacity: 1;
    overflow: scroll;
    transform: translateX(0);
  }
}

.logo {
  text-align: center;
  position: relative;
  z-index: 100;
}
.logo a {
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
}
.logo a img {
  width: 180px;
}
@media screen and (max-width: 991px) {
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100px;
    width: 100px;
  }
  .logo a, .logo a img {
    width: 100%;
  }
}

.cat-gif {
  margin: 0 auto;
  display: block;
}



/*# sourceMappingURL=maps/navigation.css.map */
