body {
    //setting to 10px enables to easily convert pixel values into em/rems by dividing by 10 instead of 16
    //delete this is you dont want to use it
    //font-size: 10px;
}

.help-text-icon {
    font-size: 18px;
    position: relative;
    // top: 1px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
        color: $primary-color;
    }
}

.help-text-container {
    display: none;
    color: $white;
    background: rgba(0, 0, 0, .75);
    padding: 20px;
    position: absolute;
    width: 300px;
    border-radius: 5px;
    bottom: 41px;
    z-index: 1;
    line-height: 2rem;
    left: 50%;
    font-size: 16px;
    font-weight: 400;
    @include transform(translateX(-50%));

    strong {
        font-size: 16px;
        line-height: 1.35rem;
        letter-spacing: 0rem;
    }

    &:after {
        content: "";
        //display: none;
        position: absolute;
        bottom: -15px;
        left: 50%;
        @include transform(translateX(-50%));
        border-top: 15px solid rgba(0, 0, 0, .75);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }

    &:before {
        content: "\f00d";
        font-family: "Font Awesome\ 5 Free";
        position: absolute;
        top: -8px;
        right: -10px;
        color: $white;
        font-weight: 800;
        border-top: 15px solid transparent;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }
}

.help-text-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    top: 0;
    left: 0;

    &.hidden {
        display: none;
    }

    .inner-wrap {
        background-color: rgba(0, 0, 0, 0.9);
        max-width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        @include transform(translate(-50%, -50%));
        font-size: 16px;
        color: $white;
        padding: 36px;

        .close {
            color: $white;
            font-family: "Font Awesome\ 5 Free";
            position: absolute;
            top: -8px;
            right: -10px;
            color: $white;
            font-weight: 800;
            border-top: 15px solid transparent;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
        }

        .close:hover {
            cursor: pointer;
        }
    }

    .inner {
        line-height: 2.5rem;
    }
}