@mixin linear-gradient($fromColor, $toColor) {
	background-image: linear-gradient(to left, $fromColor, $toColor);
}

@mixin radial-gradient($fromColor, $toColor) {
	background-image: radial-gradient(ellipse at center, $fromColor, $toColor);
}

@mixin transform($str) {
    -moz-transform:    $str;
    -o-transform:      $str;
    -webkit-transform: $str;
    transform:         $str;
}

@mixin transition($str) {
    -moz-transition:    $str;
    -o-transition:      $str;
    -webkit-transition: $str;
    transition:         $str;
}

@mixin breakpoint($class) {
    @if $class == small {
        @media (min-width: 550px) { @content; }
    }

    @if $class == medium {
      @media (min-width: 768px) { @content; }
    }
   
    @else if $class == large {
      @media (min-width: 1000px) { @content; }
    }

    @else if $class == xlarge {
      @media (min-width: 1400px) { @content; }
    }
   
    @else {
      @warn "Breakpoint mixin supports: small, medium, large, xlarge";
    }
}

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
