$heading-font: 'Archivo Narrow',
'Helvetica',
'Arial',
sans-serif;
$body-font: 'Roboto Condensed',
'Helvetica',
'Arial',
sans-serif;
$global-font-size: 16px;
$global-radius: 3px;

*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	font-family: $body-font;
	font-size: $global-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font;
}

h1 {
	text-align: center;
}