$primary-color: #4F80E1;
$primary-color-shade: darken($primary-color, 10%);
$primary-color-tint: lighten($primary-color, 10%);

$secondary-color: #18CDCA;
$secondary-color-shade: darken($secondary-color, 10%);
$secondary-color-tint: lighten($secondary-color, 10%);

$tertiary-color: #FF5349;
$tertiary-color-shade: darken($tertiary-color, 10%);
$tertiary-color-tint: lighten($tertiary-color, 10%);

$fourth-color: #292C44;
$fourth-color-shade: darken($fourth-color, 10%);
$fourth-color-tint: lighten($fourth-color, 10%);

$gray-color: #F0F0F1;
$gray-color-shade: darken($gray-color, 10%);
$gray-color-tint: lighten($gray-color, 10%);

$white: rgba(#ffffff, 1);
$black: rgba(#000000, 1);

$alert-color: #ff0000;
